@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  overflow: hidden;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
}

:global #root {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  overflow: hidden;
}
